<h1>see all resources:</h1>

<h2><%= link_to 'Add resource', new_submission_path %></h2>

<% @submission.each do |submission| %>
  <ul>
    <li>
      <%= link_to submission.title, submission.url, target:"_blank" %>
    </li>
  </ul>
  <%= link_to "Add a Comment", new_comment_path %>
    <% submission.comments.each do |comment| %>
      <%= comment.content %>
    <% end %>
<% end %>

