<h1>see all resources:</h1>

<h2><%= link_to 'Add resource', new_submission_path %></h2>

<h2><%= link_to 'Sign Up!', new_user_path %></h2>

<ul>
  <% @submission.each do |submission| %>
  <li>
    <%= link_to submission.title, submission.url, target:"_blank" %>
  </li>
  <% end %>
</ul>
