ul {
  list-style: none;
}

li {
  margin-bottom: 0.8em;
  padding: 0.4em;
  border: 1px solid #34495e;
  border-radius: 2px;
}

li:hover, li:focus, li:active {
  background-color: #fff;
}

ul > li > a {
  text-decoration: none;
  color: #34495e;
}

a{
  text-decoration: none;
  color: #34495e;
}

.hidden {
  display:none;
}

textarea {
  width:100%;
}